@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

header{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.cabeçalho img{
    height: 7vw;
    width: 7vw;
}

.infoCabecalho{
    margin: 0px 25px;
    display: flex;
}

header a{
    text-decoration: none;
    color: rgb(45, 73, 4);
    text-decoration: none;
    font-size: 2.3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header a:hover{
    background-color:rgb(45, 73, 4);
    color: white;
    border-radius: 6px;
    padding:4px 10px;
    transition-duration: 0.3s;
}

.banner-e-txt{
    background-image: url('midia/bannermain.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    opacity: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

 .txtmain{
    font-size: 3vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 8.5vw;
    margin-bottom: 11vw;
 }

.txtBusca{
    padding: 7px 20px;
    float:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:5px;
    font-size:1.4vw;
    border:none;
    height:1.3vw;
    width: 10vw;
    margin-bottom: 2.2vw;
}

.pesquisa{
    background-color: rgba(3, 26, 2, 0.507);
    padding-top: 2.6vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 0.9vw;
}

.imgmain{
    width: 27vw;
    height: 26vw;
}

.secaoImagens{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pImagens{
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    bottom: 2vw;
}

footer{
    background-color: rgb(4, 56, 4);
    color: white;
    font-size: 1.9vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0.8vw;
    margin-top: 3.8vw;
}

@media (max-width:772px) {
  
     header a{
        font-size: 2.5vh;
     }

     header {
        margin-bottom: 10px;
        margin-top: 10px;
     }

     .txtBusca{
        font-size: 1.3vh;
        margin-top: 20px;
        padding: 10px 18px;
     }

    .banner-e-txt {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .txtmain{
        font-size: 4vh;
    }

    .pesquisa{
        margin-bottom: 70px;
        padding-top: 1vh;
        padding-left: 1.8vh;
        padding-right: 1.8vh;
        padding-bottom: 1.5vh;
    }

    .imgmain{
        width: 160px;
        height: 160px;
    }

    .pImagens{
        font-size: 1.9vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        position: relative;
        bottom: 2vw;
    }

    footer {
        font-size: 1.9vh;
        padding-bottom: 20px;
    }
}



@media (max-width: 600px) {
    header a{
        font-size: 1.5vh;
     }

     header {
        margin-bottom: 10px;
        margin-top: 10px;
     }

     .txtBusca{
        font-size: 1.3vh;
        margin-top: 18px;
        padding: 10px 18px;
     }

    .banner-e-txt {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .txtmain{
        font-size: 3vh;
    }

    .pesquisa{
        margin-bottom: 70px;
        padding-top: 1vh;
        padding-left: 1.8vh;
        padding-right: 1.8vh;
        padding-bottom: 1.5vh;
    }

    .imgmain{
        width: 140px;
        height: 140px;
    }

    .pImagens{
        font-size: 1.3vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        position: relative;
        bottom: 2vw;
    }

    footer {
        font-size: 1.9vh;
        padding-bottom: 20px;
        padding-top: 10px;
    }
}

