@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav > a{
    color: rgb(45, 73, 4);
    text-decoration: none;
    font-size: 2.2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav > a:hover{
    background-color:rgb(45, 73, 4);
    color: white;
    border-radius: 6px;
    padding:4px 10px;
    transition-duration: 0.3s;
}

header{
    padding-bottom: 5px;
}

.txtmain{
    color: white;
    font-size: 3vw;
    padding-left: 170px;
    padding-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    line-height: 1.5em;
}

main{
    width: 1519.5px;
    width: 100%;
}

.divBusca{
    background-color:#ffffff;
    border:solid 2px #193a04;
    border-radius:8px;
    width:214px;
    height:37px;
    
  }
  
  .txtBusca{
    float:left;
    background-color:transparent;
    font-size:18px;
    border:none;
    height:37px;
    width:210px;
    padding-left: 4px;
  }
  
  .pesquisa{
    padding-left: 1100px;
    padding-bottom: 0px;
    position: relative;
    bottom: 300px;
  }

  .banner-e-txt{
    background-image: url('midia/bannermain.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 70%;
  }

  .btnBusca{
    color: white;
    border:none;
    float: left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background-color:#022002;
  }
 
 .imgmeio{
    margin-left: 67px;
    margin-right: 53px;
 }
 
 .txtimagens{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: 55px;
    padding-left: px;
 }